<%= flash[:notice] %>
<h1>Popular Photos on 500px</h1>
<div class="photo-grid">
  <div id="photos" class="justified-gallery">
  <% @photos.each do |photo| %>
  <div>
  <%= link_to(image_tag("#{photo['image_url']}"), "https://500px.com/photo/#{photo['id']}") %>
  <div class="caption">
    <%= "#{photo['user']['firstname']} #{photo['user']['lastname']}" %>
    <% if current_user %>
  <% if photo['liked'] == true %>
  <%= link_to " Liked", vote_path(:photo => "#{photo['id']}"), :class => "liked-button glyphicon glyphicon-heart" %>
  <% else %>
  <%= link_to " Like", vote_path(:photo => "#{photo['id']}"), :class => "like-button glyphicon glyphicon-heart-empty" %>
  <% end %>
    <% end %>
  </div>
</div>
  <% end %>
</div>
</div>
